{{#if loggedIN}}
    <section class = "dashboard-screen">
    <div class="dashboard-page">
        <div class="dashboard-header">
            <h4 class="dashboard-title">Reading Corner</h4>
            <h4 class="user-title">{{user.username}}</h4>
            <button class="logout-page-btn" id ="logout" >Logout</button>
        </div>
    </header>
            <div class="mx-auto">
                <div class ="what-read">
                    <h4 class="what-read-title mx-auto">What I'm Reading</h4>
                    <div class="book-list mx-auto">
                        <ul>
                            <li class="post-book d-flex mx-auto">
                                
                                {{!-- <span class = "mx-auto d-flex book-title">{{book.title}} -<span class="author d-flex mx-auto">{{book.author}}</span><button class="delete-post-btn2 d-flex mx-auto">X</button></span> --}}
                                
                            </li>
                        </ul>
                        <form class = "new-book-form">
                        <input name="book-title" type="text" placeholder="Title" class="post-list d-flex mx-auto">
                        <input name="book-author" type="text" placeholder="Author" class="post-list d-flex mx-auto">
                        <button type="button" id="post" class="post-book-btn d-flex mx-auto">Post</button> 
                        </form>
                    </div>
                </div>
                <div class="disccussion">
                    <h4 class="discussion-title mx-auto">Discussion</h4>
                </div>
                
                <div class="comment-section2">
                    <!--COMMENTS APPEND HERE-->
                    <ul class="mx-auto comment-list">
                        <li class="box">
                            <div class="comment mt-4 text-justify">
                                <h4 class="comTitle">{{ title }}-<span class="chapternum">Chapter {{ chapter }}</span></h4> <span class ="date">- {{format_date created_at }}</span> <br>
                                <p class="comText">{{ post_content }}</p>
                                <button class="delete-post-btn d-flex mx-auto">delete</button>
                            </div>
                        </li>
                    </ul>
                    
                    <form class ="new-post-form">
                        <h4 class="comment-title mx-auto">Leave a comment</h4>
                        <div class="form-group co"><input type="text" name="post-title" class="form-control" placeholder="Title of Book"> </div>
                        <div class="form-group co"><input type="text" name="post-chapter" class="form-control" placeholder="Chapter Number"> </div>
                        <textarea name="post-msg" id="" msg cols="30" rows="5" class="form-control co" placeholder="Message"></textarea>
                        <div class="form-group co"> <button type="submit" id="post" class="post-btn">Post</button> </div>
                    </form>
                </div>

</section>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
{{/if}}