<section class = "dashboard-screen">
    
    <div class="dashboard-page">
        <div class="dashboard-header">
            <h4 class="dashboard-title animate__animated animate__rubberBand">Reading Corner</h4>
            <h4 class="user-title">{{ username }}</h4>
            <button class="logout-page-btn" id ="logout" >Logout</button>
        </div>
    </header>
     <div class="container">
       <div class="lines-container">
           <div class="line line-1"></div>
           <div class="line line-2"></div>
           <div class="line line-3"></div>
       </div>
       <ul class="menu">
           <li><a href="#" class="outer blog">My Friends</a>
                <ul class="blog-child">
                    <li><a href="#" class="inner">jmacarthur9</a></li>
                    <li><a href="#" class="inner">alesmonde0</a></li>
                    <li><a href="#" class="inner">jwilloughway1</a></li>
                </ul>
            </li>
           <li><a href="#" class="outer contact">Add a Friend</a>
                <ul class="contact-child">
                    <li class="inner">
                        <form class="new-friend-form d-flex justify-content-around">
                            <input name ="add-friend" class="add-friend" type="email" placeholder="Email Address">
                            <button type="submit" class="add-friend-button">Add</button>
                        </form>
                    </li>
                </ul>
           </li>
       </ul>
       <div class="pointer"></div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
            <div class="mx-auto">
                <div class ="what-read">
                    <h4 class="what-read-title mx-auto">What I'm Reading</h4>
                    <div class="book-list mx-auto">
                        <form class = "new-book-form">
                        {{#if books.length}}
                        {{#each books as |book|}}
                        <ul>
                            <li class="post-book d-flex mx-auto">
                                
                                <span class = "mx-auto d-flex book-title animate__animated animate__slideInUp">{{book.book_title}} -<span class="author d-flex mx-auto">{{book.author}}</span><button type="button" class="delete-post-btn2 d-flex mx-auto" id={{book.id}}>X</button></span>
                                
                            </li>
                        </ul>
                        {{/each}}
                        {{/if}}
                        <input name="book-title" type="text" placeholder="Title" class="post-list d-flex mx-auto">
                        <input name="book-author" type="text" placeholder="Author" class="post-list d-flex mx-auto">
                        <button type="submit" id="post" class="post-book-btn d-flex mx-auto">Post</button> 
                        </form>
                    </div>
                </div>
                <div class="disccussion">
                    <h4 class="discussion-title mx-auto">Thoughts</h4>
                </div>
                
                <div class="comment-section2">
                    <!--COMMENTS APPEND HERE-->
                    <form class ="new-post-form">
                    {{#if posts.length}}
                        {{#each posts as |post|}}
                    <ul class="mx-auto comment-list">
                        <li class="box">
                            <div class="comment mt-4 text-justify animate__animated animate__slideInUp">
                                <h4 class="comTitle">{{ post.title }}-<span class="chapternum">Chapter {{ post.chapter }}</span></h4> <span class ="date">- {{format_date created_at }}</span> <br>
                                <p class="comText">{{ post.post_content }}</p>
                                <button type="button" class="delete-post-btn d-flex mx-auto" id={{post.id}}>delete</button>
                            </div>
                        </li>
                    </ul>
                    {{/each}}
                    {{/if}}
                        <h4 class="comment-title mx-auto">Leave a comment</h4>
                        <div class="form-group co"><input type="text" name="post-title" class="form-control" placeholder="Title of Book"> </div>
                        <div class="form-group co"><input type="text" name="post-chapter" class="form-control" placeholder="Chapter Number"> </div>
                        <textarea name="post-content" id="" msg cols="30" rows="5" class="form-control co" placeholder="Message"></textarea>
                        <div class="form-group co"> <button type="submit" id="post" class="post-btn">Post</button> </div>
                    </form>
                </div>

</section>
<script src = "/js/logout.js"></script>
<script src = "/js/add-book.js"></script>
<script src = "/js/add-post.js"></script>
<script src = "/js/delete-post.js"></script>
<script src = "/js/delete-book.js"></script>
<script src = "/js/navbar.js"></script>


