{{!-- <section class = "dashboard-screen">
    
    <div class="dashboard-page">
        <div class="dashboard-header">
            <h4 class="dashboard-title">Reading Corner</h4>
            <h4 class="user-title">{{ username }}</h4>
            <button class="logout-page-btn" id ="logout" >Logout</button>
        </div>
    </header>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
            <div class="mx-auto">
                <div class ="what-read">
                    <h4 class="what-read-title mx-auto">What {{ friendusername }} is Reading</h4>
                    <div class="book-list mx-auto">
                        <form class = "new-book-form">
                        {{#if books.length}}
                        {{#each books as |book|}}
                        <ul>
                            <li class="post-book d-flex mx-auto">
                                
                                <span class = "mx-auto d-flex book-title">{{book.book_title}} -<span class="author d-flex mx-auto">{{book.author}}</span>
                                
                            </li>
                        </ul>
                        {{/each}}
                        {{/if}}
                        <input name="book-title" type="text" placeholder="Title" class="post-list d-flex mx-auto">
                        <input name="book-author" type="text" placeholder="Author" class="post-list d-flex mx-auto">
                        <button type="submit" id="post" class="post-book-btn d-flex mx-auto">Post</button> 
                        </form>
                    </div>
                </div>
                <div class="disccussion">
                    <h4 class="discussion-title mx-auto"> {{ friendusername }} posts</h4>
                </div>
                
                <div class="comment-section2">
                    <!--COMMENTS APPEND HERE-->
                    <form class ="new-post-form">
                    {{#if posts.length}}
                        {{#each posts as |post|}}
                    <ul class="mx-auto comment-list">
                        <li class="box">
                            <div class="comment mt-4 text-justify">
                                <h4 class="comTitle">{{ post.title }}-<span class="chapternum">Chapter {{ post.chapter }}</span></h4> <span class ="date">- {{format_date created_at }}</span> <br>
                                <p class="comText">{{ post.post_content }}</p>
                            </div>
                        </li>
                    </ul>
                    {{/each}}
                    {{/if}}
                </div>

</section> --}}